.container{
    background-color: #fcf8ff;
    padding: 50px;
    margin: auto;
    width: 40%;
    border: 3px solid rgb(119, 0, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-style: italic;
    font-family: 'Times New Roman';
}

span{
    padding: 20px 20px 40px 20px;
    font-size: 15pt;
    font-weight: bold;
}

#btn{padding: 10px; font-size: 12pt;}